@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
header {
  width: 100%;
  height: 6vh;
  background: #101314;
}
header nav {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
}
header nav .logo {
  background-image: url("../img/logo.png");
  background-size: cover;
  width: 90px;
  height: 90px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: normal;
  gap: 40px;
}
header nav ul li {
  list-style-type: none;
  display: inline-block;
}
header nav ul li a {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#landingcover {
  padding: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
}
#landingcover h1 {
  font-size: 1.95rem;
  text-align: center;
  color: #000;
}
#landingcover #coverimg {
  height: 50%;
  width: 25%;
  background-image: url("../img/bg4-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.35rem;
}

.SubTitle {
  text-align: center;
  font-size: 2.8rem;
}

#about-me {
  width: 100%;
  height: 55vh;
  padding-bottom: 5%;
}

.flex-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: normal;
  flex-wrap: wrap;
}
.flex-wrap .amcontainers {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.flex-wrap .amcontainers .amhr {
  background: #031633;
  width: 100%;
  height: 1.5%;
  border: none;
}
.flex-wrap .amcontainers .amtext {
  font-size: 1.35rem;
  text-align: justify;
}
.flex-wrap .amcontainers #d1 {
  position: absolute;
  width: 35vh;
  height: 35vh;
  border: 0.15rem solid #000;
  transform: rotate(45deg);
  z-index: 2;
  background: #031633;
}
.flex-wrap .amcontainers #d1 #d2 {
  position: absolute;
  background-image: url("../img/ampic.jpg");
  background-size: cover;
  border: 0.15rem solid #000;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  z-index: 1;
}

#Services {
  width: 100%;
  height: 40vh;
  padding-bottom: 6%;
}
#Services .flex-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: normal;
}
#Services .flex-wrap .servcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
  flex-direction: column;
  width: 20%;
  height: 60%;
  background: #031633;
  color: #fff;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 3px #178be2;
  transition: 0.5s;
}
#Services .flex-wrap .servcontainer i {
  font-size: 3rem;
  color: #178be2;
}
#Services .flex-wrap .servcontainer h3 {
  text-align: center;
  font-size: 1.5rem;
}
#Services .flex-wrap .servcontainer:hover {
  transform: translateY(-25%) translateX(5%);
}

#projects {
  width: 100%;
  height: 150vh;
  padding-bottom: 4%;
}
#projects .flex-wrap {
  height: 95%;
}
#projects .flex-wrap .pcontainer {
  width: 70%;
  background: #031633;
  border-radius: 0.65rem;
  box-shadow: 5px 5px 3px #178be2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
}
#projects .flex-wrap .pcontainer .pimg {
  width: 80%;
  float: left;
}
#projects .flex-wrap .pcontainer .pimg img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
#projects .flex-wrap .pcontainer .ptext {
  border-radius: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  float: left;
  width: 20%;
  background: #031633;
  color: #fff;
}
#projects .flex-wrap .pcontainer .ptext h2 {
  text-align: center;
}
#projects .flex-wrap .pcontainer .ptext h3 {
  text-align: center;
}

#contact {
  width: 100%;
  height: 75vh;
}
#contact .flex-wrap {
  height: 95%;
}
#contact .flex-wrap form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
  flex-direction: column;
  border-radius: 0.65rem;
  width: 60%;
  height: 90%;
  background: #031633;
}
#contact .flex-wrap form .f-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: normal;
}
#contact .flex-wrap form .f-row input {
  text-align: center;
  padding: 13px 160px;
  margin: 10px;
}
#contact .flex-wrap form .f-row textarea {
  margin-top: 20px;
  text-align: center;
  padding: 40px 175px;
  resize: none;
}
#contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
  background: transparent;
  border-radius: 0.25rem;
  border: 0.2rem solid #073a88;
}
#contact .flex-wrap form .f-row button {
  padding: 10px 25px;
  border: 2px solid #178be2;
  border-radius: 0.85rem;
  transition: 0.4s;
}
#contact .flex-wrap form .f-row input:hover, #contact .flex-wrap form .f-row textarea:hover, #contact .flex-wrap form .f-row button:hover {
  transition: 0.5s;
  background: #178be2;
}
#contact .flex-wrap form .f-row input::-moz-placeholder, #contact .flex-wrap form .f-row textarea::-moz-placeholder, #contact .flex-wrap form .f-row button::-moz-placeholder {
  color: white;
}
#contact .flex-wrap form .f-row input::placeholder, #contact .flex-wrap form .f-row textarea::placeholder, #contact .flex-wrap form .f-row button::placeholder {
  color: white;
}

main {
  padding-bottom: 4%;
}

footer {
  width: 100%;
  background-color: #101314;
  color: #fff;
  height: 7vh;
}
footer .flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: normal;
}
footer .flex-wrap .fcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: normal;
}
footer .flex-wrap .fcontainer a {
  text-align: center;
}
footer .flex-wrap .fcontainer a i {
  margin: 0 13px;
  color: #178be2;
  font-size: 1.5rem;
  transition: 0.3s;
}
footer .flex-wrap .fcontainer a i:hover {
  transform: translateY(-25%);
}

@media screen and (max-width: 1450px) {
  #about-me .flex-wrap .amcontainers #d1 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1024px) {
  #landingcover h1 {
    font-size: 1.6rem;
  }
  #about-me .flex-wrap {
    justify-content: space-evenly;
  }
  #about-me .flex-wrap .amcontainers .amtext {
    font-size: 1.1rem;
  }
  #about-me .flex-wrap .amcontainers #d1 {
    width: 22vh;
    height: 22vh;
  }
  #Services .flex-wrap .servcontainer i {
    font-size: 2.8rem;
  }
  #Services .flex-wrap .servcontainer h3 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 855px) {
  #contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
    padding: 2% 15%;
    margin: 2%;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 15vh;
  }
  header nav {
    height: 15vh;
    flex-direction: column;
  }
  #about-me .SubTitle {
    font-size: 2.5rem;
  }
  #about-me .flex-wrap {
    justify-content: space-evenly;
  }
  #about-me .flex-wrap .amcontainers .amtext {
    font-size: 1rem;
  }
  #about-me .flex-wrap .amcontainers #d1 {
    width: 18vh;
    height: 18vh;
  }
  #landingcover h1 {
    font-size: 1.4rem;
  }
  #Services .SubTitle {
    font-size: 2.5rem;
  }
  #Services .flex-wrap .servcontainer i {
    font-size: 2rem;
  }
  #Services .flex-wrap .servcontainer h3 {
    font-size: 0.9rem;
  }
  #projects {
    height: 100vh;
  }
  #projects .SubTitle {
    font-size: 2.5rem;
  }
  #projects .flex-wrap .pcontainer .ptext h2 {
    font-size: 1rem;
  }
  #projects .flex-wrap .pcontainer .ptext h3 {
    font-size: 0.5rem;
  }
  #contact .SubTitle {
    font-size: 2.5rem;
  }
  footer .flex-wrap .fcontainer h3 {
    font-size: 0.9rem;
  }
  footer .flex-wrap .fcontainer a i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 677px) {
  #about-me .flex-wrap {
    justify-content: space-evenly;
  }
  #about-me .flex-wrap .amcontainers .amtext {
    font-size: 0.8rem;
  }
  #about-me .flex-wrap .amcontainers #d1 {
    width: 13vh;
    height: 13vh;
  }
}
@media screen and (max-width: 600px) {
  footer {
    height: 13vh;
  }
  footer .flex-wrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 510px) {
  header {
    height: 30vh;
  }
  header nav {
    height: 30vh;
    flex-direction: column;
  }
  header nav ul {
    flex-direction: column;
    gap: 5px;
  }
  #projects .flex-wrap .pcontainer .ptext h2 {
    font-size: 0.7rem;
  }
  #projects .flex-wrap .pcontainer .ptext h3 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 460px) {
  #contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
    padding: 2% 12%;
    margin: 2%;
  }
}
@media screen and (max-width: 426px) {
  #landingcover {
    height: 35vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10%;
  }
  #contact .SubTitle {
    font-size: 2rem;
  }
  #contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
    padding: 1rem 0.4rem;
    margin: 2%;
  }
  #about-me {
    height: 90vh;
  }
  #about-me .SubTitle {
    font-size: 2rem;
  }
  #about-me .flex-wrap {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #about-me .flex-wrap .amcontainers {
    width: 80%;
  }
  #about-me .flex-wrap .amcontainers #d1 {
    width: 18vh;
    height: 18vh;
  }
  #Services .SubTitle {
    font-size: 2rem;
  }
  #Services .flex-wrap .servcontainer {
    height: 47%;
  }
  #Services .flex-wrap .servcontainer i {
    font-size: 1.4rem;
  }
  #Services .flex-wrap .servcontainer h3 {
    font-size: 0.7rem;
  }
  #projects {
    height: 80vh;
  }
  #projects .SubTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  #Services {
    height: 170vh;
  }
  #Services .flex-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  #Services .flex-wrap .servcontainer {
    height: 15%;
    width: 50%;
  }
  #Services .flex-wrap .servcontainer i {
    font-size: 2.8rem;
  }
  #Services .flex-wrap .servcontainer h3 {
    font-size: 1.4rem;
  }
  #projects .flex-wrap .pcontainer .ptext h2 {
    font-size: 0.5rem;
  }
  #projects .flex-wrap .pcontainer .ptext h3 {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 350px) {
  #contact .flex-wrap form {
    width: 100%;
  }
  #contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
    padding: 0.4rem 0.01px;
    margin: 1%;
  }
}
@media screen and (max-width: 320px) {
  #contact .flex-wrap form {
    width: 100%;
  }
  #contact .flex-wrap form .f-row input, #contact .flex-wrap form .f-row textarea {
    padding: 0.3rem 0.02px;
    margin: 1%;
  }
}
@media screen and (max-width: 280px) {
  #Services .flex-wrap .servcontainer i {
    font-size: 2.2rem;
  }
  #Services .flex-wrap .servcontainer h3 {
    font-size: 1.2rem;
  }
}
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: rgba(236, 236, 236, 0.75);
  width: 100%;
  overflow-x: hidden;
}