footer{
    width: 100%;
    background-color: $hnf;
    color: #fff;
    height: 7vh;
    .flex-wrap{
        @include FlexEvenly(space-evenly,wrap);
        .fcontainer{
            @include FlexEvenly(space-evenly,wrap);
            a{
                text-align: center;
                i{
                    margin:0 13px;
                    color:$accentscolor;
                    font-size: 1.5rem;
                    transition: 0.3s;
                    &:hover{
                        transform: translateY(-25%);
                    }
                }
            }
            
        }
    }
}