#landingcover{
    padding: 0;
    width: 100%;
    height: 70vh;
    h1{
        font-size: 1.95rem;
        text-align: center;
        color: $textcolor;
     
    }
    @include FlexEvenly();
    #coverimg{
        height: 50%;
        width: 25%;
        background-image: url("../img/bg4-removebg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 0.35rem;
    }
}
.SubTitle{
    text-align: center;
    font-size: 2.8rem;
}
#about-me{
    width: 100%;
    height: 55vh;
    padding-bottom: 5%;
}
.flex-wrap{
    width: 100%;
    height: 100%;
    position:relative;
    @include FlexEvenly(center);
    flex-wrap: wrap;
    .amcontainers{
        width: 30%;
        height: 100%;
        @include FlexEvenly(center,wrap,flex-start);
        
        .amhr{
            background: $nearaccentscolor;
            width: 100%;
            height: 1.5%;
            border: none;
        }

        .amtext{
            font-size: 1.35rem;
            text-align: justify;
        }

        #d1{
            position:absolute;
            width: 35vh;
            height: 35vh;
            border:0.15rem solid #000;
            transform:rotate(45deg);
            z-index: 2;
            background:$nearaccentscolor;

            #d2{
                position:absolute;
                background-image: url("../img/ampic.jpg");
                background-size: cover;
                border:0.15rem solid #000;
                width: 100%;
                height: 100%;
                transform:rotate(-45deg);
                z-index: 1;
            }
        }
    }
    
} 
#Services{
    width: 100%;
    height: 40vh;
    padding-bottom:6%;
    .flex-wrap{
        width: 100%;
        @include FlexEvenly(space-evenly,wrap);
        .servcontainer{
            @include FlexEvenly(space-evenly);
            flex-direction: column;
            width: 20%;
            height: 60%;    
            background: $nearaccentscolor;
            color: #fff;
            border-radius: 0.25rem;
            box-shadow:5px 5px 3px #178be2;
            i{
                font-size:3rem;
                color:$accentscolor
                
            }
            h3{
                text-align: center;
                font-size:1.5rem
                
            }

            transition: 0.5s;
            &:hover{
                transform: translateY(-25%) translateX(5%);
            }
        }
    }
    
}

#projects{
    width: 100%;
    height: 150vh;
    padding-bottom: 4%;
    .flex-wrap{
        height: 95%;
        .pcontainer{
            width: 70%;
            background: $nearaccentscolor;
            border-radius: 0.65rem;
            box-shadow:5px 5px 3px #178be2;
            @include FlexEvenly();

            .pimg{
                
                width: 80%;
                float:left;
                img{
                    width: 100%;
                    
                    object-fit: fill;
                }
            }
            .ptext{
                
                border-radius: 0.65rem;
                @include FlexEvenly(center, wrap,center); 
                float:left;
                width: 20%;
                background:$nearaccentscolor;
                color:#fff;
                h2{
                    text-align: center;
                }
                h3{
                    text-align: center;
                }
            }
        }
    }
}

#contact{
    width: 100%;
    height: 75vh;
    .flex-wrap{
        height: 95%;
        form{
            @include FlexEvenly();
            flex-direction: column;
            border-radius: 0.65rem;
            width: 60%;
            height: 90%;
            background:$nearaccentscolor;
            .f-row{
                width: 100%;
                @include FlexEvenly();
                input{
                    text-align: center;
                    padding: 13px 160px;
                    margin: 10px;
                    
                }
                textarea{
                    margin-top: 20px;
                    text-align: center;
                    padding: 40px 175px;
                    resize: none;
                }
                input, textarea{
                    background:transparent;
                    border-radius: 0.25rem;
                    border: 0.2rem solid #073a88;
                }
                button{
                    padding:10px 25px;
                    border: 2px solid $accentscolor;
                    border-radius: 0.85rem;
                    transition: 0.4s;
                    
                }
                input,textarea,button{
                    &:hover{
                        transition: 0.5s;
                        background: $accentscolor;
                    }
                    &::placeholder{
                        color:white;
                    }
                }
            }
       }
    }
}
main{
    padding-bottom: 4%;
}